/*globales*/
body {
    font-family: Arial;
    color: #000;
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 64px;
}

p {
    font-size: 14px;
    padding-bottom: 25px;
    line-height: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}