/*header*/
header {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    /*border: #000 2px solid;*/
    
}

header ul {
    display: flex;
}

header li {
    margin-left: 30px;
    font-size: 14px;
}

.cuadros_logo {
    position: relative;
    top: -20px;

}





.logo {
    font-family: Beth Ellen;
    font-size: 40px;
    color: #6D0AD3;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    display: flex;
    position: absolute;
    margin-left: 5px;
    z-index: 5;
    
    
}

    

.logo_1 {
    width: 45px;
    height: 45px;
    background: #D1FFA2;
    position: absolute;
    margin-left: -5px;
    z-index: 4;

}
.logo_2 {
    width: 45px;
    height: 45px;
    background: #0098EF;
    position: absolute;
    margin-left: -10px;
    z-index: 3;
}
.logo_3 {
    width: 45px;
    height: 45px;
    background: #00CF95;
    position: absolute;
    margin-left: -15px;
    z-index: 2;
}
.logo_4 {
    width: 45px;
    height: 45px;
    background: #6D0AD3;
    position: absolute;
    margin-left: -20px;
    z-index: 1;
}

.logo_1 {
    transform: rotate(45deg);
}
.logo_2 {
    transform: rotate(45deg);
}
.logo_3 {
    transform: rotate(45deg);
}
.logo_4 {
    transform: rotate(45deg);
}