/*main*/
/**/
.contenedor_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;
}

.presentacion {
  /*border: #542 2px solid;*/
  width: 50%;
  padding-bottom: 50px;
  padding-top: 70px;
}

.barra_lateral {
  width: 20px;
  height: 120px;
  background: #80E7CA;
}

.hola_hello {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 20px;
}

.soy {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 15px;
}

.profesion {
  font-weight: bold;
  color: #00cf95;
  font-size: 40px;
  padding-bottom: 15px;
}

.gracias_por {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gracias {
  padding-left: 20px;
}

.button_redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  /*border: 1px solid #00CF95;*/
}

.button_descargar {
  width: 160px;
  height: 45px;
  background-color: #6D0AD3;
  cursor: pointer;
  color: #fff;
}

.button_descargar:hover {
  border-color: grey;
}

.redes_sociales ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.redes_sociales li {
  margin-left: 15px;
}

/**/
.perfil_curriculum {
  width: 40%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*border: solid 2px #000;*/
}

.posterior_perfil {
  width: 325px;
  height: 325px;
  background: #D1FFA2;
  border-radius: 50%;
  padding-left: 20px;
  position: absolute;
}

.perfil_img {
  width: 300px;
  height: 280px;
  border-radius: 50%;
  padding-left: 10px;
  position: absolute;
}

.likes_tweet {
  padding-top: 50px;
  /*border: #00CF95 solid 2px;*/
}

.down {
  font-weight: bold;
  font-size: 30px;
  color: #00cf95;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  /*border: solid 1px #000;*/
}

/**/
.portafolio_titulo {
  font-weight: bold;
  font-size: 30px;
  color: #0098EF;
  padding-top: 30px;
  padding-bottom: 30px;
  /*border: solid 1px #000;*/
}

.imagenes_portafolio {
  /*border: 1px blue solid;*/
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor_efecto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.contenedor_efecto .contenedor_figure {
  position: relative;
  width: 220px;
  height: 220px;
  /*overflow oculta todo lo que esta afuera del contenedor con medidas*/
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 25px;
          box-shadow: 0px 15px 25px;
}

.contenedor_efecto .contenedor_img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(109, 10, 211, 0.8);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.contenedor_figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

/**/
.servises_titulo {
  font-weight: bold;
  font-size: 30px;
  color: #0098EF;
  padding-top: 30px;
  padding-bottom: 30px;
  /*border: solid 1px #000;*/
}

.contenedor_servicios {
  /*width: 80%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servicios_efecto {
  width: 310px;
  height: 220px;
  background: #00CF95;
  border: 5px solid #D1FFA2;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.recuadro_servicio {
  position: relative;
  /*overflow oculta todo lo que esta afuera del contenedor con medidas*/
  overflow: hidden;
}

.img_services {
  width: 60px;
  height: 45px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.capa_serv {
  position: absolute;
  top: 0;
  width: 156px;
  height: 48px;
  background: #5A0CB0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.recuadro_servicio:hover > .capa_serv {
  opacity: 1;
  visibility: visible;
}

/**/
.titulo_blog {
  color: #0098EF;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.nuevo_rey {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-top: 25px;
}

.rectangulo_lateral_1 {
  width: 4px;
  height: 40px;
  background: #5A0CB0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: 15px;
}

.css3 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 5px;
}

.rectangulo_lateral_2 {
  width: 4px;
  height: 20px;
  background: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.animation {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 5px;
}

.js_engine {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 5px;
}

.articulo_1 {
  /*border: 1px solid #000;*/
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.articulo_2 {
  /*border: 1px solid #000;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
.articulo_3 {
    border: 1px solid #000;
}*/
.articulo_4 {
  /*border: 1px solid #000;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articulo_5 {
  /*border: 1px solid #000;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons {
  border: 1px solid #000;
}

.p_section {
  font-size: 11px;
}

.rejillas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.text_email {
  width: 306px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.but_suscribete {
  width: 127px;
  height: 50px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #6D0AD3;
  font-size: 12px;
  color: #fff;
}

.rejilla_contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.area_contacto {
  resize: none;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px #00CF95;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.textarea:hover {
  border-color: #6D0AD3;
}

.area_cuentanos_mas {
  resize: none;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px #00CF95;
}

.titulo_contacto {
  color: #0098EF;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 60px;
}

.boton_contacto {
  width: 127px;
  height: 50px;
  background: #6D0AD3;
  font-size: 12px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.Contenedor_boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.button_contacto:hover {
  border-color: grey;
}

hr {
  width: 100%;
  background: #00CF95;
  margin-bottom: 50px;
  margin-bottom: 100px;
}